<!-- Sidenav Card Component -->
<div class="card card-plain shadow-none" id="sidenavCard">
  <img class="w-50 mx-auto" src="/web/assets/img/illustrations/icon-documentation.svg" alt="sidebar_illustration">
  <div class="card-body text-center p-3 w-100 pt-0">
    <div class="docs-info">
      <h6 class="mb-0">Need help?</h6>
      <p class="text-xs font-weight-bold mb-0">Please check our docs</p>
    </div>
  </div>
</div>
<a href="/swagger/index.html#" target="_blank" class="btn btn-dark btn-sm w-100 mb-3">Documentation</a> 